name: Sovereign Build APK
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'
      - name: Install Frontend Deps
        run: |
          cd frontend
          npm install --force
          npm run build
      - name: Setup Java 11
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '11'
      - name: Build Nuclear APK
        run: |
          pip install "buildozer==1.5.0" "cython<3.0" virtualenv
          echo "android.useAndroidX=true" > gradle.properties
          echo "android.enableJetifier=true" >> gradle.properties
          echo "android.enableMultiDex=true" >> gradle.properties
          buildozer -v android debug
